
body{
    font-family: 'Poppins', sans-serif;
}
/* lets-start */

.start{
    background-color: rgb(89, 89, 241);
}
.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   justify-content: space-around;
}
.intro{
    flex-basis: 50%;
    min-width: 300px;
    
}
.intro img{
    max-width: 100%;
    padding: 50px 0;
}
.intro h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    text-align: center;
}
.button{
    align-items: center;
     display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
   transition: background 0.5s;
}
.button:hover{
 background: #563434;
}

/*----------------------
 players styles
  -------------------*/
 .players{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 860px;
   padding: 30px;
   border-radius: 8px;
   margin-top: 20px;
   box-shadow: ;
 } 
 .box{
     display: flex;
     flex-wrap: wrap;
     height: 474px;
     width: 330px;
     padding-top: 20px;
     padding-left: 10px;
     padding-right: 10px;
     margin-right: 10px;
     margin-left: 50px;
 }
 .player-img img{
    width: 300px;
    height: 256px; 
 }
.player-info{
    text-align: justify;
    background-color: white;
}



/*---------------
 lasttheend
 --------------------*/
.last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 483.87px;
    height: 213px;
    left: 475px;
    top: 3474px;

}
.icon:hover{
   background: #ff523b;
}

/* ----------------------------
      Media Queries
 ----------------------*/

 /* Mobile Devices */
 @media only screen and (max-width:800px){
    .start{
        width: 100%;
    }
    .players{
       grid-template-columns: repeat(1, 1fr);
    }

   


/* tablet devices */
@media only screen and (min-width: 668px) and (max-width:992px) {
    .start{
        width: 100%;
    }
    .players{
       grid-template-columns: repeat(1, 1fr);
    }


  
  
  
  
